<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    
    <a href="/add_product">Post</a>

    <!--Зона для кукловода-->

    <!--Боковая панель-->


    {% for product in products %}
        <article>                                                                       <!--Вот этот article надо заверуть в клекабельную ссылку на страницу продукта. Бужет переход по id-->
            <div><a href="{{ url_for('product_page', id=product.id)}}">Product page</a></div>       <!--Затычка вв виде ссылки-->
            <div>Name: {{ product.name }}</div>                                         <!--В div добавить украшенений ))))-->
            <div>Price: {{ product.price }}</div>
            <div>About: {{ product.description }}</div>
            <a href="{{ url_for('buy', id=product.id)}}">Buy one</a>
        </article>
    {% endfor %}
    
    <a href="/info">Info</a>

</body>
</html>