<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Product</title>
</head>
<body>
    <form action="/post_product">
        <div>
            <label for="race">Race:</label>
            <select required>
                <option></option>
                <option value="goblin">Goblin</option>
                <option value="giant">Giant</option>
                <option value="human">Human</option>
                <option value="elf">Elf</option>
            </select>
        </div>
        <div>
            <label>
                <input type="radio" name="gender" value="male" required>Male
              </label>
              <label>
                <input type="radio" name="gender" value="female">Female
              </label>
              <label>
                <input type="radio" name="gender" value="other">Other
              </label>   
        </div>
        <div>
            
        </div>


    </form>
</body>
</html>