<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ product.name }}</title>
</head>
<body>
    <article>                                         <!--Вот этот article надо заверуть в клекабельную ссылку на страницу продукта. Бужет переход по id-->
        <div>Name: {{ product.name }}</div>           <!--В div добавить украшенений ))))-->
        <div>Age: {{ product.age }}</div>
        <div>Race: {{ product.race}}</div>
        <div>Sex: {{ product.sex }}</div>
        <div>Price: {{ product.price }}</div>
        <div>Work Speed: {{ product.work_speed }}</div>
        <div>Speed: {{ product.speed }}</div>
        <div>Luck: {{ productluck }}</div>
        <div>Energy: {{ product.energy }}</div>
        <div>About: {{ product.description }}</div>
    </article>
</body>
</html>